<div class="col-sm-4 col-sm-offset-4">
  <legend>Sign Up</legend>
  <%= form_for @user do |f| %>

    <%= f.label :first_name %>:
     <%= f.text_field :first_name, class:"form-control" %><br />
     <%= f.label :last_name %>:
     <%= f.text_field :last_name, class:"form-control" %><br />
     <%= f.label :email %>:
     <%= f.email_field :email, class:"form-control" %><br />
     <%= f.label :password %>:
     <%= f.password_field :password, class:"form-control" %><br />
     


     <%= f.submit "Sign Up", class:"btn btn-primary" %>
  <% end %>
</div>
