
<div class="col-sm-4 col-sm-offset-4">
  <legend>Sign Up</legend>
   <%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
     <!-- first name field -->
     <%= f.label :first_name %>:
     <%= f.text_field :first_name, class:"form-control" %><br />
     <!-- last name field -->
     <%= f.label :last_name %>:
     <%= f.text_field :last_name, class:"form-control" %><br />
     <!-- email field -->
     <%= f.label :email %>:
     <%= f.email_field :email, class:"form-control" %><br />
     <!-- password field -->
     <%= f.label :password %>:
     <%= f.password_field :password, class:"form-control" %><br />
     <!-- avatar field -->
     <%= f.label :avatar, "avatar" %>:
     <%= f.file_field :avatar %><br />

     <!-- signup button -->
    <%= f.submit "Sign Up", class: "btn btn-primary" %>

  
     
  <% end %>
</div>
