<nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <header>
          <a class="navbar-brand" id="brand" href="/">newsly</a>
        </header>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-left">
             <li> <%= link_to "Home", root_path %></li>
             <li> <%= link_to "About", about_path %></li>
             <% if current_user %> 
             <li> <%= link_to "Profile", user_path(current_user), class: "profile" %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <% if current_user %> 

              <p><a class="navbar-header" href="/profile"><%= image_tag current_user.avatar.url(:thumb), class: "navbar-thumb" %>&nbsp;&nbsp;<%= current_user.first_name %></a>&nbsp;&nbsp;<%= link_to "Log out",  logout_path, method: "destroy", class: "btn btn-primary" %></p> 

        
            <% else %> 
              <p><%= link_to "Sign Up", signup_path , class: "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Log In", login_path , class: "btn btn-primary" %></p>
            <% end %> 
          </ul>
            <% else %> 
              <p><%= link_to "Sign Up", signup_path , class: "btn btn-primary" %>&nbsp;&nbsp;<%= link_to "Log In", login_path , class: "btn btn-primary" %></p>
            <% end %> 
          </ul>
      </div><!-- /.navbar-collapse -->
    <!-- </div>/.container-fluid -->
  </nav>
